<div class="login-block" *ngIf='isShowLogin; else registration'>
    <h1>Авторизация</h1>
    <form class="reg-form" (submit)='login($event)'>
        <md-form-field>
          <fa [name]="'envelope'" mdPrefix></fa>
          <input type="email" mdInput placeholder="Email">
        </md-form-field>
        <md-form-field>
          <fa [name]="'lock'" mdPrefix></fa>
          <input type="password" mdInput placeholder="Пароль">
        </md-form-field>
        <button md-raised-button mat-primary>Войти</button>
    </form>
    <button md-raised-button (click)='showReg()'>Пройти регистрацию</button>
</div>

<ng-template #registration>
  <div class="reg-block">
    <h1>Регистрация</h1>
      <form class="reg-form" (submit)='reg($event)'>
          <md-form-field>
            <fa [name]="'user'" mdPrefix></fa>
            <input type="text" mdInput placeholder="Имя" >
          </md-form-field>
          <md-form-field>
            <fa [name]="'user'" mdPrefix></fa>
            <input type="text" mdInput placeholder="Фамилия">
          </md-form-field>
          <md-form-field>
            <fa [name]="'envelope'" mdPrefix></fa>
            <input type="email" mdInput placeholder="Email">
          </md-form-field>
          <md-form-field>
            <fa [name]="'lock'" mdPrefix></fa>
            <input type="password" mdInput placeholder="Пароль">
          </md-form-field>
          <md-form-field>
            <fa [name]="'lock'" mdPrefix></fa>
            <input type="password" mdInput placeholder="Повторите пароль">
          </md-form-field>
          <button md-raised-button mat-primary>Регистрация</button>
      </form>
      <button md-raised-button (click)='showLogin()'>Назад</button>
  </div>
</ng-template>
