<div class="profile">
    <div class="row">
      <div class="thumbnail">
        <img src="assets/img/avatar/{{avatar}}" title="change avatar">
      </div>
      <div class="right">
        <div class="block">
            <h3>Basic Information</h3>
            <div class="info-block">
              <div class="title">
                <i class="fa fa-id-badge" aria-hidden="true"></i>
                ID
              </div>
              <div class="content">
                  {{id}}
              </div>
            </div>
            <div class="info-block">
              <div class="title">
                <i class="fa fa-user" aria-hidden="true"></i>
                Full Name
              </div>
              <div class="content">
                  {{firstname}} {{lastname}}
              </div>
              <div class="edit" title='edit'>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>
            <div class="info-block">
              <div class="title">
                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                Gender
              </div>
              <div class="content">
                  {{gender}}
              </div>
              <div class="edit" title='edit'>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>
            <div class="info-block">
              <div class="title">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Email
              </div>
              <div class="content">
                {{email}}
              </div>
              <div class="edit" title='edit'>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>
            <div class="info-block">
              <div class="title">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                Password
              </div>
              <div class="content">
                  {{password}}
              </div>
              <div class="edit"  title='edit'>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="block">
            <h3>Additional Information</h3>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  About
                </div>
                <div class="content">
                 {{about}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                  Birthday
                </div>
                <div class="content">
                    {{birthday}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  Phone
                </div>
                <div class="content">
                    {{phone}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  Country
                </div>
                <div class="content">
                    {{country}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  City
                </div>
                <div class="content">
                    {{city}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-language" aria-hidden="true"></i>
                  Language
                </div>
                <div class="content">
                    {{language}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <div class="info-block">
                <div class="title">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  Website
                </div>
                <div class="content">
                    {{website}}
                </div>
                <div class="edit"  title='edit'>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
          </div>
      </div>
    </div>

</div>