.profile{
    padding: 0 30px;
    height: 100%;
    overflow-y: auto;
    background: #F8F8F8;
    margin-left: -15px;
    margin-right: -30px;


    .row{
        display: flex;
        padding-top: 1em;

        @media screen and (max-width: 600px ) {
            display: block;
            margin-right: 15px;
        }   

        .right{
            width: 70%;
            max-width: 70%;

            @media screen and (max-width: 600px ) {
                max-width: 100%;
                width: 100%;
            }  
        }

        .thumbnail{
            min-width: 30%;
            max-width: 30%;
            margin-right: 1em;

            @media screen and (max-width: 600px ) {
                text-align: center;
                margin-bottom: 10px;
                margin-right: 0;
                max-width: 100%;
            }   
            

            .window{
                position: relative;
                width: 100%;
                max-width: 100%;
                height: calc(40vh * 0.75);
                border-radius: 4px;
                overflow: hidden;

                @media screen and (max-width: 600px ) {
                    max-width: 85%;
                    margin: 0 auto;
                    box-shadow: 0 0 15px 0 #D8D8D8;
                    height: auto;
                } 

                img{
                    height: 100%;
                    width: auto;
                    min-width: 100%;
                    min-height: 100%;
                    cursor: pointer;

                    @media screen and (max-width: 600px ) {
                        height: auto;
                        max-height: 300px;
                    } 
                }

                .changeAvatar{
                    background: rgba($color: #000000, $alpha: 0.3);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: #ebebeb;
                    width: 100%;
                    display: none;
                    transition: background-color 0.3s;

                    .save, .cancel{
                        padding: 7px;
                        width: 50%;
                        text-align: center;
                        cursor: pointer;
                    }

                    .save, .cancel{
                        &:hover{
                             background: rgba($color: #000000, $alpha: 0.35);
                             color: #ffffff;
                        }
                    }
                }
            }
            button{
                display: block;
                width: 100%;
                margin-bottom: 0.2em;
            }

            .nickname{
                text-align: center;
                padding: 10px;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #E2E2E2;
                border-radius: 5px;
                margin-bottom: 10px;
                margin-top: 5px;
                font-size: 20px;

                @media screen and (max-width: 600px ) {
                    box-shadow: 0 0 15px 0 #D8D8D8;
                 }  
            }
        }
    }

    .block{
        padding: 0 15px 2px 15px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        margin-bottom: 10px;

        @media screen and (max-width: 600px ) {
           box-shadow: 0 0 15px 0 #D8D8D8;
        }   

        h3{
            border-bottom: 1px solid #DADADA;
            padding: 10px 5px;
        }

        .info-block{

            display: flex;
            border-bottom: 1px solid #DADADA;
            padding: 10px 10px 10px 5px;
            position: relative;
            width: 100%;
            min-height: 50px;
            
            &:hover .edited{
                display: flex;
            }

            &:hover{
                background: #FCFCFC;
            }
            
            .update{

                display: none;

                textarea{
                    resize: vertical;
                    width: 100%;
                    min-height: 50px;
                }

                input{
                    width: 100% !important;
                }

                .gender{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    .radio{
                        margin-right: 10px;
                    }
                }
                .pass{
                    margin-bottom: 5px;
                }
                .ui-chips-token{
                    margin-top: 2px !important;
                }
            }

            .title{
                width: 25%;
                min-width: 105px;
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (max-width: 600px ) {
                    width: 15%;
                    margin-right: 10px; 
                }   

                i{
                    width: 15px;
                    margin-right: 5px;
                }
            }

            .body{
                max-width: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 55px;

                @media screen and (max-width: 600px ) {
                    max-width: 85%;
                }  
            }
            .content{
                user-select: text;
                height: auto;
                word-wrap: break-word;
                word-break: normal; /* break-all */
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .edit{
                cursor: pointer;
                border-radius: 50%;
                z-index: 1;
                display: none;
                padding: 5px 10px;
                height: 100%;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
                i{
                    font-size: 17px;
                }

                &:hover i {
                    color: #33C933;
                    cursor: pointer;
                }
            }

            .save{
                display: flex;
                cursor: pointer;
                border-radius: 50%;
                z-index: 1;
                padding: 5px 5px;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
                i{
                    vertical-align: middle;
                    font-size: 23px;
                    margin-right: 5px;
                }

                &:hover i {
                    cursor: pointer;
                }
                & .confirm:hover{
                    color: #33C933;
                }
                & .cancel:hover{
                    color: #D62E2E;
                }
            }
            
            &:last-child{
                border: none;
            }
        }
    }
}

#avatar{
    display: none;
}