<div #friendUser class="user" data-id="{{id}}" (mouseover)="mouseOver(friendUser)" (mouseleave)="mouseLeave(friendUser)">
  <div class="userWrap">
    <div class="logo">
      <a routerLink="/profile/{{id}}" draggable="false">
        <img src="assets/img/avatar/default.jpg" alt="{{nickname}}"/>
      </a>
    </div>
    <div class="userBody">
      <div class="top">
        <a class="nickname">
          {{nickname}}
        </a>
        </div>
        <div class="bottom">
            <div class="msg">
              <a class="write-message" href="/dialogs/{{id}}">To white a message</a>
            </div>
            <div #delete class="id delete" data-id="{{id}}" (click)="deleteFriend(delete)">
                <i class="reject fa fa-ban" aria-hidden="true" title="delete friend"></i>
            </div>
          </div>
      </div>
    </div>
  </div>