@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding: 0;
    margin: 0;
    user-select: none;
    & * {
        outline: none;
        box-sizing: border-box;
        cursor: default;
        padding: 0;
        margin: 0;
    }
    & a{
        cursor: pointer;
        & *{
            cursor: pointer;
        }
    }
    button{
        cursor: pointer;
        &:not([disabled]) *{
            cursor: pointer;
        }
    }
}

